*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    /* background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
    height: 100%;
    border: 2px solid black;
    padding: 22px;

}
#pic{
    width: 60px;
    height: 65px;
    border-radius: 30px;
    border: 2px solid black;
    /* margin-bottom:0px ; */
    margin-right: 20px;
}
#share{
    height: 20px;
    width: 20px;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgba(65, 227, 65, 0.411) ;
    border: 0.5px solid  black;
    border-radius: 15px;
    padding: 8px;

}
.intro{
    display: flex;
    justify-content:center;
    align-items: center;
}
.details{
    display: flex;
    justify-content: space-between;
}
.memdet{
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;    gap: 5px;

}
.first{
    border: 2px solid rgb(87, 87, 87);
    box-shadow: inset 1px 1px 25px rgba(150, 244, 104, 0.457);
    padding: 10px 0px;
}
.item{
    display: flex;
   
}
.item img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.description{
    font-size: 1 rem;
    margin: 10px 0px;
}
.med p{
    font-size: 0.8rem;
}
@media only screen and (max-width: 700px) {
    .details{
        display: flex;
        flex-direction: column;
    }
}
med p{
    color: brown;
}